<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Login Form</title>
    <link rel="stylesheet" type="text/css" href="style1.css">
</head>
<body>
<div class="loginbox">
    <h4>Account Login</h4>
    <p>Username:</p>
    <input type="text" name="" placeholder="Enter username"><br>
    <p>Password:</p>
    <input type="password" name="" placeholder="Enter password">
    <input type="submit" name="" value="Login"><br>
    <a href="#">Forgot password?</a>
    </form>
</div>
</body>
</html>