<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Form</title>
</head>
<body>
    <div class="loginbox">
        <h1>Login></h1>
        <p>UserName:</p>
        <input type="text" name="username" placeholder="Enter username"><br>
        <p>Password:</p>
        <input type="password" name="password" placeholder="Enter password:"><br>
        <input type="submit" name="submit" value="Login">
    </div>
</body>
</html>