<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Edit Todo</title>
    </head>
    <body>
        <h1>Edit Todo:</h1>
        <form method="post" th:action="'http://localhost:8080/todo/' + ${id} + '/edit'" name="todo">
            <label for="editable-todo">Todo Description:</label>
            <input type="text" id="editable-todo" placeholder="Write your editable todo..." name="title" th:value="${todo.title}"><br>
            <label for="urgent-checkbox">Urgent:</label>
            <input type="checkbox" id="urgent-checkbox" name="urgent"><br>
            <label for="done-checkbox">Done:</label>
            <input type="checkbox" id="done-checkbox" name="done"><br>
            <input type="submit" value="Submit">
            <a href="http://localhost:8080/todo/list">Cancel</a>
        </form>
    </body>
</html>