a {
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    color: black;
    border: 1px solid deepskyblue;
    padding: 5px;
    border-radius: 8px;
    background-color: deepskyblue;
}

a:hover {
    background-color: mediumturquoise;
}